<!doctype html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>

    <script src="app.module.js"></script>
    <script src="crud.controller.js"></script>


</head>

<body ng-app="app">

    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default navbar-inverse  navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-inverse " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="width:44px;max-width:44px !important;">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" style="color:#fff;text-shadow:none;margin-top:5px;" href="#">Simple Angularjs CRUD</a>
                </div>
            </nav>
        </div>


        <div ng-controller="CrudCtrl" class=' row' style="margin-top:100px;">
          <div class="row data_search_row">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 section ">
                  <input class="form-control" id="searchTerm" placeholder="search for ...">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 section">
                  <button id="search" type="button" class="btn btn-primary" style="width:100%;">search</button>
              </div>
          </div>

          <div class="row table-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table border=1 width=100%>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Code</td>
                        <td>Language</td>
                        <td><span class='add-span' ng-click="add()">Add New</span>
                        </td>
                    </tr>
                    <tr ng-repeat="snippet in snippets">
                        <td>
                            <input type="hidden" ng-model="snippet.id" ng-show="snippet.editable" placeholder="id">
                            <input type="text" ng-model="snippet.name" ng-show="snippet.editable" placeholder="name">
                            <span ng-hide="snippet.editable">{{ snippet.name }}</span>
                        </td>
                        <td>
                            <input type="text" ng-model="snippet.descrip" ng-show="snippet.editable" placeholder="descrip">
                            <span ng-hide="snippet.editable">{{ snippet.descrip }}</span>
                        </td>
                        <td>
                            <input type="text" ng-model="snippet.code" ng-show="snippet.editable" placeholder="code">
                            <span ng-hide="snippet.editable">{{ snippet.code }}</span>
                        </td>
                        <td>
                            <input type="text" ng-model="snippet.language" ng-show="snippet.editable" placeholder="language">
                            <span ng-hide="snippet.editable">{{ snippet.language }}</span>
                        </td>
                        <td>
                            <span class='edit-span'   ng-click="edit($index)" ng-hide="snippet.editable">Edit</span>
                            <span class='save-span'   ng-click="save($index)" ng-show="snippet.editable">Save</span>|
                            <span class='delete-span' ng-click="delete($index)">  Delete</span>
                        </td>
                    </tr>
                </table>
            </div>
          </div>
        </div>
        <div  crud-directive></div>
        <ul>
          <li>data onload</li>
          <li>components</li>

        </ul>
    </div>
</body>
</html>
